body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f9;
}

/* Navbar */
nav {
  background-color: #1e293b;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #38bdf8;
}

/* Page Container */
.container {
  width: 80%;
  margin: 40px auto;
}

/* Card */
.card {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Skills List */
.skills {
  list-style: none;
  padding: 0;
}

.skills li {
  display: inline-block;
  background-color: #38bdf8;
  color: white;
  padding: 8px 15px;
  margin: 8px;
  border-radius: 20px;
  font-size: 14px;
}

/* Profile Image */
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #38bdf8;
  object-fit: cover;
}
.loading-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}